.frame {
  margin: 30px;
}

.table-rockets-data {
  text-align: left;
  padding: 10px;
}

.table-list {
  background-color: #fff;
}

.image {
  width: 20%;
}

.image-container {
  width: 300px;
  height: 200px;
}

.image-container img {
  width: 300px;
  height: 200px;
}

.rockets-description {
  vertical-align: top;
  padding: 10px;
}
